/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p, ul, li { margin-top: 0; 
	font-family: 'Open Sans';
	color: #000000;
	font-size: 20px;
}

h1{
	font-family: 'Shrikhand';
	color: #000000;
	font-size: 48px;
}
h2{
	font-family: 'Shrikhand';
	color: #000000;
	font-size: 36px;
}
h3{
	font-family: 'Open Sans';
	color: #C31887;
	font-size: 30px;
}
div{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}


.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}

#logo{
	height: 60px;
	width: 60px;
	float: left;

}

#rate{
	background-color: #EFCE4A;
	width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: top;
	margin-top: 40px;
} 
#rate2{
	background-color: #EFCE4A;
	width: 250px;
	height: 200px;
	text-align: center;
}

#olaf{
	width: 200px;
	height: 200px;
	float: right;
}

#first, #second, #third{
	background-color: #FFFFFF;
}

#third .container img{
	width: 200px;
	height: 200px; 
}

#third{
	margin-left: auto;
	margin-right: auto;
}
#summ{
	width: 350px;
	height: 350px
}
#cast{
	width: 200px;
	height: 200px;
	vertical-align: top;
}
#BoxOff{
	width: 600px;
}
#summ2{
	width: 550px;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}
.main-menu{
	text-align: right;
	background-color: #C31887;
}

.imag img{
	width: 100%;
	height: 45%;
}
.starRate{
	width: 20px;
	height: 20px;
}
.colo{
	background-color: #EFCE4A;
	text-align: center;
	display: inline-block;
	margin: 100px;
	justify-content: center;
}
.s2Top{
	display: inline-block;
}
.bottomCon{
	display: inline-block;
	margin-top: -20px;
}
